.container {
  max-height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  color: var(--white);
  font-size: var(--main-title-font-size);
}

.subtitle {
  color: var(--white);
  font-size: var(--sub-title-font-size);
  width: calc(100% - 32px);
  border-bottom: 1px solid rgba(125, 125, 125, 0.2);
  padding-bottom: 8px;
  margin-top: 16px;
}
