.container {
  display: flex;
}

.main {
  position: relative;
  top: 60px;
  background-color: var(--secondary-black);
  width: calc(100vw - 224px);
  height: calc(100vh - 60px);
  padding-left: 32px;
}
