.navbar {
  background-color: var(--main-black);
  color: var(--white);
  height: 100vh;
  width: 224px;
}

.logo,
.library {
  margin: 2.5rem 0;
  margin-left: 1.5rem;
}

.library li {
  list-style: none;
  color: var(--grey);
  margin-top: 0.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.main_title {
  font-size: var(--main-title-font-size);
}

.sub_title {
  font-size: var(--sub-title-font-size);
  color: var(--grey);
  font-weight: normal;
  line-height: 1.5rem;
}
