.box {
  margin-right: 6px;
  position: relative;
  padding: 5px;
}

.box_selector {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(231, 225, 225, 0);
  border-radius: 4px;
}

.box_selector:hover {
  background-color: rgba(231, 225, 225, 0.1);
  transition: 0.3s all;
}

.box img {
  width: 166px;
}

.description {
  margin-top: 8px;
  max-width: 100%;
}

.description h3 {
  font-size: var(--sub-title-font-size);
  color: var(--white);
  font-weight: 800;
  line-height: 22px;
  /* overflow: hidden; */
}

.description p {
  color: var(--grey);
  font-size: 14px;
  line-height: 22px;
}
